<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" type="text/css" href="style.css">
      
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">
      
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
      
      
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!- stlyesheet from another website ->
    <title> I.A.M.W Movies </title>
     
    <!-the name of the title is what the tab will say when you go on it->

  </head>
 <body style="background-color: #7D5BA6">
     
     <div class="content">
         
  <!-Made this nav bar with the help of this video https://www.youtube.com/watch?v=STTxKqulkZU use these navbar links on the rest of the pages it should be a little easier now.->
  
  <h1 id="Title"> I.A.M.W Movies</h1>
           
         <!--- maybe put a banner here--->
         
     <nav id="Inav" class="center" >
         
        <button><a href="index.html"> Home </a> </button>
        <button><a href="Reviews.html"> Reviews </a> </button>
        <button><a href="movielist.html"> Movie List </a> </button>
        <button><a href="ContactUs-Register.html"> Register </a></button>
        <!---
            <div class="sub-menu-1">
                <ul>
                    <li>
                        <a href="Mission%20Statement.html">Mission Statement/Background</a>
                    </li>
                 </ul>
             </div>
        --->
    </nav>
    
          
      <header> <span id="navbar"> "TO THE MOVIES!" </span> 
 </header>

    
     

         
       </div>
       {{{body}}}
    <script src="java2.js"> 
     </script>
      <script src="jq/jquery.js"> </script>
     
     <script>
     $(document).ready(function() {
         
       $("button").click(function(){
           $("#Inav:first").hide();
       });  
     });
         
     </script>
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
<footer> </footer>

