<h3 id="Shrink">Welcome!</h3>  
      <header> <span id="Shrink"> "TO THE MOON!" </span> 
 </header>

<img src="Using-Graham-Formula-Find-Underpriced-Stocks.jpg" alt="Stonks" id="image"><br>
     
<p>Welcome to the best place to educate yourself on the stock market! I know the market can be a scary place to navigate the first time around but trust me in the end it's all worth it. Let this website be the first to help you get your feet wet in the market. We can help with strategies and define confusing topics. We are here to serve as a beginners website and we strive to make the market more accessible for the average everyday person. So come with questions and enthusiasm and maybe one day we can all reach the moon!
 </p>
