<h1>Movie List</h1>
<div class="container-fluid text-center">
<!--start of the images controls if they are centered or not-->
   

<!--start of profile info-->
    <div class="row text-center">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            
        
        </div>
    </div>
<!--  -->
<!-- Start of movie highlights -->
<div class="row ">
<!--center later with CSS-->
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 content-center">
            <img class="img-circle img-responsive" id="pic" src="leg.jpg">
             <p id="p1" class="toxic">
                Stabgirl 4
              </p>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"">
            <img class="img-circle img-responsive" id="pic1" src="gun.jpg">
             <p id="p2" class="toxic">
                Police Brutality Squad 
              </p>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <img class="img-circle img-responsive" id="pic2" src="dog.jpg">
             <p id="p3" class="toxic">
                Oil Force-5
              </p>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <img class="img-circle img-responsive" id="pic3" src="ball.jpg">
             <p id="p4" class="toxic">
                Galaxy Jam
              </p>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <img class="img-circle img-responsive" id="pic4" src="com.jpg">
             <p id="p5" class="toxic">
                PTSDivsion
              </p>
        </div> 
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <img class="img-circle img-responsive" id="pic5" src="drag.jpg">
             <p id="p6" class="toxic">
                SteroFighter
              </p> 
        </div>   
</div>
<!--end of highlights-->
<!--start of posts-->
 <br>
<div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 content-center">
        <img class="img-responsive" id="pic6" src="fly.jpg">
         <p id="p7" class="toxic">
                Alien Tenticle Succ
              </p>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 content-center">
        <img class="img-responsive" id="pic7" src="cat.jpg">
         <p id="p8" class="toxic">
                Pussy Protector
              </p>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 content-center">
        <img class="img-responsive" id="pic8" src="drac.jpg">
         <p id="p9" class="toxic">
                Drac Attack
              </p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 content-center">
        <img class="img-responsive" id="pic9" src="herc.jpg">
         <p id="p10" class="toxic">
                Worse Thor
              </p>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 content-center">
        <img class="img-responsive" id="pic10" src="FakeWars.jpg">
         <p id="p11" class="toxic">
                Hood Wars: New Dope
              </p>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 content-center">
        <img class="img-responsive" id="pic11" src="glad.jpg">
         <p id="p12" class="toxic">
                Manny Of War
              </p>
    </div>
</div>
<br>
<div class="row content-center" >
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 content-center">
        <img class="img-responsive" id="pic12" src="trans.jpg">
         <p id="p13" class="toxic">
                Juan Wick
              </p>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 content-center">
        <img class="img-responsive" id="pic13" src="snek.jpg">
        <p id="p14" class="toxic">
                Sleep Paralysis 3
              </p>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 content-center">
        <img class="img-responsive" id="pic14" src="lil.jpg">
        <p id="p15" class="toxic">
                Dr.ChinaTown 
              </p>
    </div>
</div>
<!--end of posts-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>



