<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheet1.css" rel="stylesheet">
        <title>Profile Page</title>
</head>

<body>

<div class="container-fluid text-center">
<!--start of the images controls if they are centered or not-->
   

<!--start of profile info-->
    <div class="row text-center">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            
        
        </div>
    </div>
<!--  -->
<!-- Start of movie highlights -->
<div class="row ">
<!--center later with CSS-->
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 content-center">
            <img class="img-circle img-responsive" src="leg.jpg"><b><p>   </p></b>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <img class="img-circle img-responsive width= 100%" src="gun.jpg"><b><p>   </p></b>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <img class="img-circle img-responsive" src="dog.jpg"><b><p>   </p></b>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <img class="img-circle img-responsive" src="ball.jpg"><b><p>   </p></b>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <img class="img-circle img-responsive" src="com.jpg"><b><p>   </p></b>
        </div> 
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <img class="img-circle img-responsive" src="drag.jpg"><b><p>   </p></b>
        </div>    
</div>
<!--end of highlights-->
<!--start of posts-->
 <br>
<div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 content-center">
        <img class="img-responsive" src="http://via.placeholder.com/250">
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 content-center">
        <img class="img-responsive" src="http://via.placeholder.com/250">
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 content-center">
        <img class="img-responsive" src="http://via.placeholder.com/250">
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 content-center">
        <img class="img-responsive" src="http://via.placeholder.com/250">
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 content-center">
        <img class="img-responsive" src="http://via.placeholder.com/250">
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 content-center">
        <img class="img-responsive" src="http://via.placeholder.com/250">
    </div>
</div>
<br>
<div class="row content-center" >
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 content-center">
        <img class="img-responsive" src="http://via.placeholder.com/250">
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 content-center">
        <img class="img-responsive" src="http://via.placeholder.com/250">
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 content-center">
        <img class="img-responsive" src="http://via.placeholder.com/250">
    </div>
</div>
<!--end of posts-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>




</body>
</html>
