  <h1 id="title">High Octane Reviews <br> from some of our top critics and movie reviewers</h1>
  <br>
   <div class="box">
      <div class="table">
        <!---content-------------------------------------------------------------------->
        <div class="centergal">
          <div class="row">
            <div id="b1" class="col-4">

              <h3><b>Stabgirl 4</b></h3>
              <h2 class="new">
                4/10
                Not enough blood 
              </h2>
            </div>

            <div id="b2" class="col-4">

              <h3><b>Police Brutality Squad</b></h3>
              <h2 class="new">
                1/3 /10
                I liked the prequels better
              </h2>
            </div>

            <div id="b3" class="col-4">

              <h3><b>Oil Force-5</b></h3>
              <h2 class="new">
                5/10
                There was too much peace in that foreign land gross.
              </h2>
            </div>
          </div>
          <br>

          <div class="row">
            <div id="b4" class="col-4">

              <h3><b>Galaxy Jam</b></h3>
               <h2 class="new">
                8/10
                this movie flew me too the moon. and let me play on the stars.
              </h2>
            </div>

            <div id="b5" class="col-4">

              <h3><b>PTSDivsion</b></h3>
              <h2  class="new">
                9/10
                Just the right amount of trama!
              </h2>
            </div>

            <div id="b6" class="col-4">

              <h3><b>SteroFighter</b></h3> 
               <h2 class="new">
                6/10
                This one might be racist.
              </h2>
            </div>
          </div>
          <br>

          <div class="row">
            <div id="b7" class="col-4">

              <h3><b>Alien Tentacle Succ</b></h3>
               <h2 class="new">
                 5/10
                 Felt unclean watching this one.
              </h2>
            </div>

            <div id="b8" class="col-4">

              <h3><b>Pussy Protector</b></h3>
               <h2 class="new">
               1/10
               Not what you think it is.
              </h2>
            </div>
            <div id="b9" class="col-4">

              <h3><b>Drac Attack</b></h3>
               <h2 class="new">
                9/10
                This sucks in a good way.
              </h2>
            </div>

             <div class="row">
            <div id="b10" class="col-4">

              <h3><b>Worse Thor</b></h3>
               <h2 class="new">
                 2/10
                 Wack AF.
              </h2>
            </div>

            <div id="b11" class="col-4">

              <h3><b>Hood Wars: New Dope</b></h3>
               <h2 class="new">
               10/10
               This is a Hood classic
              </h2>
            </div>
            <div id="b12" class="col-4">

              <h3><b>Manny Of War</b></h3>
               <h2 class="new">
                7/10
                Finally a spanish super hero!
              </h2>
            </div>

             <div class="row">
            <div id="b13" class="col-4">

              <h3><b>Juan Wick</b></h3>
               <h2 class="new">
                 8.5/10
                 Not enough spanish
              </h2>
            </div>

            <div id="b14" class="col-4">

              <h3><b>Sleep Paralysis 3</b></h3>
               <h2 class="new">
               2/10
               I see this movie every night.
              </h2>
            </div>
            <div id="b15" class="col-4">

              <h3><b>Dr.ChinaTown</b></h3>
               <h2 class="new">
                3/10 
                Where did he get his masters?
              </h2>
            </div>
</div>
          </div>
        </div>
      </div>
    </div>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

