  <h1>High Octane Reviews</h1>
  <br>
   <div class="box">
      <div class="table">
        <!---content-------------------------------------------------------------------->
        <div class="centergal">
          <div class="row">
            <div class="col-4">

              <h3>Stabgirl 4</h3>
              <P id="p1" class="new">
                TWITCH
              </P>
            </div>

            <div class="col-4">

              <h3>Police Brutality Squad</h3>
              <P id="p2" class="new">
                HBO MAX
              </P>
            </div>

            <div class="col-4">

              <h3>Oil Force-5</h3>
              <p id="p3" class="new">
                SEGRATION 
              </p>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-4">

              <h3>Galaxy Jam</h3>
               <p id="p4" class="new">
                EQUALITY
              </p>
            </div>

            <div class="col-4">

              <h3>PTSDivsion</h3>
              <p id="p5" class="new">
                HAPPY Butts
              </p>
            </div>

            <div class="col-4">

              <h3>SteroFighter</h3> 
               <p id="p6" class="new">
                NICE Butts
              </p>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-4">

              <h3>Alien Succ</h3>
               <p id="p7" class="new">
                 THICK Butts
              </p>
            </div>

            <div class="col-4">

              <h3>Pussy Protector</h3>
               <p id="p8" class="new">
               YPU CAN DO IT!
              </p>
            </div>
            <div class="col-4">

              <h3>Drac Attack</h3>
               <p id="p9" class="new">
                Butts
              </p>
            </div>

             <div class="row">
            <div class="col-4">

              <h3>Worse Thor</h3>
               <p id="p7" class="new">
                 THICK Butts
              </p>
            </div>

            <div class="col-4">

              <h3>Hood Wars: New Dope</h3>
               <p id="p8" class="new">
               YPU CAN DO IT!
              </p>
            </div>
            <div class="col-4">

              <h3>Manny Of War</h3>
               <p id="p9" class="new">
                Butts
              </p>
            </div>

             <div class="row">
            <div class="col-4">

              <h3>Juan Wick</h3>
               <p id="p7" class="new">
                 THICK Butts
              </p>
            </div>

            <div class="col-4">

              <h3>Sleep Paralysis 3</h3>
               <p id="p8" class="new">
               YPU CAN DO IT!
              </p>
            </div>
            <div class="col-4">

              <h3>Dr.ChinaTown</h3>
               <p id="p9" class="new">
                Butts
              </p>
            </div>
</div>
          </div>
        </div>
      </div>
    </div>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

