  <h1>High Octane Reviews</h1>
  <br>
   <div class="box">
      <div class="table">
        <!---content-------------------------------------------------------------------->
        <div class="centergal">
          <div class="row">
            <div class="col-4">

              <h3>Stabgirl 4</h3>
              <P id="p1" class="new">
                4/10 Scars
                Not enough blood me
              </P>
            </div>

            <div class="col-4">

              <h3>Police Brutality Squad</h3>
              <P id="p2" class="new">
                1/3 /10
                I liked the prequels better
              </P>
            </div>

            <div class="col-4">

              <h3>Oil Force-5</h3>
              <p id="p3" class="new">
                5/10
                There was too much peace in that foreign land gross.
              </p>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-4">

              <h3>Galaxy Jam</h3>
               <p id="p4" class="new">
                8/10
                this movie flew me too the moon. and let me play on the stars.
              </p>
            </div>

            <div class="col-4">

              <h3>PTSDivsion</h3>
              <p id="p5" class="new">
                9/10
                Just the right amount of trama!
              </p>
            </div>

            <div class="col-4">

              <h3>SteroFighter</h3> 
               <p id="p6" class="new">
                6/10
                This one might be racist.
              </p>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-4">

              <h3>Alien Tenticle Succ</h3>
               <p id="p7" class="new">
                 5/10
                 Felt unclean watching this one.
              </p>
            </div>

            <div class="col-4">

              <h3>Pussy Protector</h3>
               <p id="p8" class="new">
               1/10
               Not what you think it is.
              </p>
            </div>
            <div class="col-4">

              <h3>Drac Attack</h3>
               <p id="p9" class="new">
                9/10
                This sucks in a good way.
              </p>
            </div>

             <div class="row">
            <div class="col-4">

              <h3>Worse Thor</h3>
               <p id="p7" class="new">
                 2/10
                 Wack AF.
              </p>
            </div>

            <div class="col-4">

              <h3>Hood Wars: New Dope</h3>
               <p id="p8" class="new">
               10/10
               This is a Hood classic
              </p>
            </div>
            <div class="col-4">

              <h3>Manny Of War</h3>
               <p id="p9" class="new">
                7/10
                Finally a spanish super hero!
              </p>
            </div>

             <div class="row">
            <div class="col-4">

              <h3>Juan Wick</h3>
               <p id="p7" class="new">
                 8.5/10
                 Not enough spanish
              </p>
            </div>

            <div class="col-4">

              <h3>Sleep Paralysis 3</h3>
               <p id="p8" class="new">
               2/10
               I see this movie every night.
              </p>
            </div>
            <div class="col-4">

              <h3>Dr.ChinaTown</h3>
               <p id="p9" class="new">
                3/10 
                Where did he get his masters?
              </p>
            </div>
</div>
          </div>
        </div>
      </div>
    </div>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

