body{
background-color: #f8e4b7 !important;
  text-align: center;
    content: center; 
    display: block;
    max-width: 1000%;
  margin: auto;
}

a {
    font-family: lobster;
    font-size: 2vw;
    text-align: center;
    align-content: center;
    padding: 14px;
    color: #a4b787
}

p {
    font-family: lobster;
    font-size: 3vw;
    text-align: center;
    align-content: center;
    padding: 14px;
}
b {
    font-family: lobster;
    font-size: 2vw;
    text-align: center;
    align-content: center;
    padding: 14px;
}
h1, h3 {
    font-family: lobster;
    font-size: 4vw;
    text-align: center;
    align-content: center;
    padding: 3px;
    font-weight: bold;
}


.para{
    color:#799351
} 
#navbar {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #aa3a3a;
  width: 100%;
  display: flex;
  justify-content: space-between;
  content:center;
}

.carousel {
  max-width: 1500px;
}
#page {
  content:center
}


#pic, #pic1, #pic2, #pic3, #pic4,#pic5, #pic6, #pic7, #pic8, #pic9, #pic10, #pic11, #pic12, #pic13, #pic14{
  width: 15vw;
}

.toxic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
}

.centergal {
  position: relative;
  text-align: center;
  color: Black;
}

.new {
  text-size-adjust: 8vw;
}

#Inav{
  margin: auto;
  width: 50%;
  padding: 10px;
}
#content{
  margin: auto;
  width: 50%;
  padding: 10px;
}

  #information{
  font-size: 25px;
  display:inline-block;
  margin: 0 1.5%;
  width: 45%;
  background-color: #aa3a3a;
  padding: 20px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  margin-top: 5px;
  line-height: 1.5em;
}

#list{
  font-size: 25px;
  display:inline-block;
  margin: 0 1.5%;
  width: 45%;
  background-color: #aa3a3a;
  padding: 20px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  
  line-height: 1.5em;
}

#para{
  background-color: #007bff;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  margin-top: 20px;

}
#title{
  background-color: #007bff;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  margin-top: 20px;

}

#p1, #p2, #p3, #p4, #p5, #p6, #p7, #p8, #p9, #p10, #p11, #p12, #p13, #p14, #p15{
  background-color: #aa3a3a;
  color:white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  margin-top: 10px;
}

#movieList{
  background-color: #007bff;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  margin-top: 20px;

}

#reviews{
  background-color: #007bff;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  margin-top: 20px;

}

